:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

/* gallery style */

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}

/* Form */
.feedback-form {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-form label input {
  display: block;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

textarea {
  display: block;
  width: 360px;
  height: 112px;
}

.feedback-form button {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  border-color: transparent;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
